* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #fafafa;
  /* background-color: #f8e8ff; */
  /* background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
